<form [formGroup]="registerForm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Tu Red Social</a>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Mis Posts</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Perfil</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Post" aria-label="Buscar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
                </div>
              </nav>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            ¿Que estás pensando?
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Título</label>
                  <input 
                      type="text" 
                      class="form-control" 
                      formControlName="title" 
                      [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched) }"
                      [(ngModel)]="ipost.title"
                      placeholder="Ingrese un título">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <p-editor 
                    [(ngModel)]="ipost.body" 
                    [style]="{'height':'320px'}"
                    formControlName="body"
                    [ngClass]="{ 'is-invalid': body.invalid && (body.dirty || body.touched) }">
                  </p-editor>
                </div>
              </div>
            </div>

            <!-- <p-editor [(ngModel)]="ipost.body" [style]="{'height':'320px'}">
              <p-header>
                  <span class="ql-formats">
                      <button class="ql-bold" aria-label="Bold"></button>
                      <button class="ql-italic" aria-label="Italic"></button>
                      <button class="ql-underline" aria-label="Underline"></button>
                  </span>
              </p-header>
            </p-editor> -->
            <br>
            <div class="row">
              <div class="col-md-12" style="text-align: right;">
                <button 
                  pButton 
                  pRipple 
                  type="button" 
                  label="Publicar" 
                  (click)="register();" 
                  class="p-button-rounded p-button-info" 
                  [disabled]="!registerForm.valid"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <p-virtualScroller [value]="virtualCars" scrollHeight="450px" [itemSize]="100" [rows]="100" 
                [lazy]="true" (onLazyLoad)="loadCarsLazy($event)">
            <ng-template let-car pTemplate="item" let-i="index">
                <div class="car-details">
                    <div>
                        <div>
                            <b>{{car.vin}}</b>
                            <div>{{car.year}} - {{car.color}}</div> 
                        </div>
                    </div>
                    <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, car)"></button>
                </div>
            </ng-template>
            <ng-template let-car pTemplate="loadingItem">
                <div class="car-details">
                    <div>
                        <div class="car-item-image empty-car-item-image"></div>
                        <div>
                            <b class="empty-car-item-text"></b>
                            <div class="empty-car-item-text"></div> 
                        </div>
                    </div>
                    <div class="empty-car-item-button"></div>
                </div>
            </ng-template>
        </p-virtualScroller>
      </div>
    </div>
  </div>
</form>


<ngx-ui-loader></ngx-ui-loader>